* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  align-items: center;
  background-color: #fff;
}

.header_left {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.header_logo img {
  width: 80px;
  margin-right: 30px;
}

.header_catalog a {
  text-decoration: none;
  background-color: #f188f2;
  color: white;
  border-radius: 4px;
  padding: 8px 30px;
  border: 2px #f188f2 solid;
}

.header_search input {
  width: 400px;
  padding: 8px;
  border-radius: 6px;
  border: 2px rgba(0, 0, 0, 0.5) solid;
}

.header_categoty {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header_categoty li {
  list-style: none;
}
.header_categoty li a {
  text-decoration: none;
  color: black;
}
.header_categoty li img {
  width: 20px;
}

.sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: #a1e2eb;
}

.sale_info {
  margin-left: 50px;
}
.sale_info p {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  padding: 20px;
}
.sale_info p:first-child {
  font-size: 38px;
}
.sale_info p:nth-child(2) {
  margin-bottom: 30px;
}
.sale_info a {
  text-decoration: none;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: 30px;
  transition: 200ms;
  color: white;
  font-weight: 600;
}
.sale_info a:hover {
  background-color: #fff;
  color: black;
}

.sale_photo img {
  width: 888px;
  padding-top: 4px;
}

.popular_categories, .our_works_galelry, .leaders_sells, .discount_part {
  margin: 40px;
}
.popular_categories span, .our_works_galelry span, .leaders_sells span, .discount_part span {
  font-weight: 600;
  font-size: 28px;
}
.popular_categories a, .our_works_galelry a, .leaders_sells a, .discount_part a {
  text-decoration: none;
  margin-left: 10px;
  color: black;
}
.popular_categories a i, .our_works_galelry a i, .leaders_sells a i, .discount_part a i {
  font-size: 13px;
}

.wrap_categories {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.wrap_categories .wrap_category {
  width: 300px;
  margin: 30px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  text-align: center;
  padding: 0 20px;
}
.wrap_categories .wrap_category img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.wrap_categories .wrap_category h2 {
  padding: 0px;
  text-align: center;
}
.wrap_categories .wrap_category span {
  font-size: 20px;
}
.wrap_categories .wrap_category span:nth-child(2) {
  color: grey;
}

.wrap_sells {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.wrap_sells .wrap_sell {
  width: 250px;
  margin: 30px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  text-align: center;
  padding: 0 20px;
}
.wrap_sells .wrap_sell .skidka {
  color: grey;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
}
.wrap_sells .wrap_sell .skidka2 {
  color: pink;
  font-size: 16px;
  font-weight: 400;
}
.wrap_sells .wrap_sell img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.wrap_sells .wrap_sell p {
  padding: 10 15px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.wrap_sells .wrap_sell p:nth-child(2) {
  font-weight: 900;
}

.sale_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: rgb(229, 63, 190);
  position: relative;
}

.sale_2_photo img {
  width: 520px;
  padding: 0 0 33px 0;
}

.sale_2_info {
  position: absolute;
  left: 50%;
}
.sale_2_info p {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
  padding: 5px;
}
.sale_2_info p:first-child {
  font-size: 42px;
}
.sale_2_info p:nth-child(2) {
  margin-bottom: 30px;
}
.sale_2_info input {
  width: 300px;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 15px;
}
.sale_2_info button {
  width: 300px;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.wrap_discounts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.wrap_discount {
  width: 250px;
  margin: 30px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  text-align: center;
  padding: 0 20px;
}
.wrap_discount .skidka {
  color: grey;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
}
.wrap_discount .skidka2 {
  color: pink;
  font-size: 16px;
  font-weight: 400;
}
.wrap_discount img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.wrap_discount p {
  padding: 10 15px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.wrap_discount p:nth-child(2) {
  font-weight: 900;
}

.wrap_galeleries {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  margin: 20px 0 0;
}
.wrap_galeleries .wrap_galelery img {
  width: 350px;
}

.our_info {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  align-items: center;
}
.our_info .contact {
  margin: 0 0 0 40px;
}
.our_info .contact p {
  font-weight: 600;
  font-size: 28px;
  padding: 10px;
}
.our_info .contact p:nth-child(2) {
  font-size: 38px;
}
.our_info .contact a {
  position: relative;
  top: 30px;
  left: 5%;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.our_info .contact a i {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 30px;
}
.our_info .adress p {
  padding: 5px 450px 5px 0;
}
.our_info .adress p:first-child {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}
.our_info .adress p:nth-child(2) {
  font-size: 28px;
  font-weight: 600;
}
.our_info .adress p:nth-child(3) {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}
.our_info .adress p:nth-child(5) {
  font-weight: 600;
}

.loading {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

.loaded {
  display: none;
}

/*# sourceMappingURL=main.css.map */
